.header__main {
  text-align: center;
}

main {
  display: flex;
  /* align-content: center; */
  justify-content: center;
  gap: 20px;
}

.settings {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.draw-color,
.bg-color {
  display: flex;
  gap: 10px;
  flex-wrap: nowrap;
  align-items: center;
}

.btn-active {
  background-color: #000;
  color: #fff;
}

.grid__container {
  display: grid;
  width: 500px;
  height: 500px;
  background-color: beige;
  border: 1px solid black;
}

.grid__element {
  border: 1px solid #000;
}
