/* TABLE OF CONTENTS

1 GLOBAL
2 TYPOGRAPHY
3 LAYOUT
  3.1

 */

/*  ========
    1 GLOBAL
    ======== */
:root {
  --ff-pri: 'Raleway', sans-serif;
  --ff-sec: 'Orbitron', sans-serif;

  --fw-reg: 200;
  --fw-bold: 600;

  --clr-light: #CCD9D4;
  --clr-dark: #2B2E2D;
  --clr-soft: #D9CECC;
  --clr-accent: #D1D696;

  --fs-h1: 2.5rem;
  --fs-h2: 2.2rem;
  --fs-h3: 1.7rem;
  --fs-body: 1rem;
  --fs-copy: 0.9rem;

  --spacer-sm: 1rem;
  --spacer-md: calc(var(--spacer-sm) * 2);
  --spacer-lg: calc(var(--spacer-sm) * 3);

  --txt-shadow-light: 1px -1px 0px #fff;
  --txt-shadow-dark: 1px 1px 4px var(--clr-dark);
  --box-shadow: 1px 2px 3px 0px var(--clr-dark);
}

@media (max-width: 62rem) {
  :root {
    --fs-h1: 2.3rem;
    --fs-h2: 2rem;
    --fs-h3: 1.6rem;
    --fs-body: 0.95rem;
    --fs-copy: 0.8rem;
  }
}
@media (max-width: 50rem) {
  :root {
    --fs-h1: 2.1rem;
    --fs-h2: 1.8rem;
    --fs-h3: 1.5rem;
    --fs-body: 0.9rem;
    --fs-copy: 0.7rem;
  }
}
@media (max-width: 35rem) {
  :root {
    --fs-h1: 1.9rem;
    --fs-h2: 1.6rem;
    --fs-h3: 1.4rem;
    --fs-body: 0.85rem;
    --fs-copy: 0.6rem;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: var(--ff-pri);
  background-color: var(--clr-soft);
  color: var(--clr-dark);
}

/*  ============
    2 TYPOGRAPHY
    ============ */

/* FONT SIZE */
 h1 { font-size: var(--fs-h1); }
 h2 { font-size: var(--fs-h2); }
 h3 { font-size: var(--fs-h3); }
 label { font-size: var(--fs-label); }
 p { font-size: var(--fs-p); }
 button { font-size: var(--fs-btn); }
 body { font-size: var(--fs-body); }

/* FONT FAMILY */
 button { font-family: var(--ff-pri); }


/*  ========
    3 LAYOUT
    ======== */


.header {
  text-align: center;
  font-family: var(--ff-sec);
  margin-block: var(--spacer-sm);
}

main {
  display: flex;
  justify-content: center;
  max-width: 70rem;
  margin: auto;
}

.settings {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-inline: var(--spacer-md);
}

fieldset {
  border: 2px solid var(--clr-dark);
  border-radius: 0.6rem;
}

legend {
  margin: 0 7%;
  padding: 0 0.3em;
  font-size: var(--fs-h3);
  text-shadow: var(--txt-shadow-dark);
}

.fieldset__container {
  margin-inline: 1em;
}

.fieldset__item {
  display: flex;
  gap: var(--spacer-sm);
  align-items: center;
  min-width: 10rem;
  margin-block: 0.7em;
}

.custom-color__radio,
.canvas-color__radio {
  visibility: hidden;
  margin-left: -0.4em;
}

.custom-color,
.canvas-color {
  gap: 0;
}

.canvas-color > input {
  visibility: hidden;
}

.btn {
  display: block;
  width: 100%;
  padding-block: 3px;
  border-radius: 5px;
  border: 2px solid var(--clr-dark);
  margin-bottom: 10px;
}

.custom-color__input__wrapper,
.canvas-color__input__wrapper {
  overflow: hidden;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  box-shadow: var(--box-shadow);
  margin-left: -5px;
}

input[type="color"] {
  width: 150%;
  height: 150%;
  margin: -25%;
}

.grid-sizer {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  align-items: center;
}

.grid-sizer__input {
  width: 100%;
}

.grid__container {
  display: grid;
  width: 550px;
  height: 550px;
  background-color: beige;
  border: 2px solid var(--clr-dark);
  border-radius: 10px;
  margin-right: var(--spacer-md);
}

.grid__element {
  border: 1px solid #000;
}

footer {
  margin-top: var(--spacer-sm);
  text-align: center;
}

.fab {
  color: #000;
}
